/*styles*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	scroll-behavior:smooth;
}
.box{
	background-color:#000000;
	position: absolute;
	right:0;
	height:100%;
	width:100%;
	min-height:100vh;
	padding:25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:2;
	transition: 0.7s;
}
.box.active {
	right:300px;
}
.box header{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	padding:25px;
	z-index:1000;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.clan{
	font-size:45px;
	color:white;
	letter-spacing:1px;
	font-weight:normal;
	font-family:'aldrich', verdana, serif;
}

.clan:hover{
	transition:1s;
	text-shadow:0px 0px 5px #fafdef;
	cursor: default;
}
.toggle{
	display:block;
	position: relative;
	width:50px;
	height:50px;
	background:url('https://i.ibb.co/dGvSwR3/menuu.png');
	filter:invert(100%);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	animation: fadeb linear 300ms;
}
	@keyframes fadeb{
	0%{opacity:0;}
	100%{opacity:1;}

}
.toggle.active {
	background:url('https://i.ibb.co/Tr6Yd8f/x-pngrepo-com.png');
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	filter:invert(100%);
	animation: fadex linear 300ms;
}
@keyframes fadex{
	0%{opacity:0;}
	100%{opacity:1;}
}
.box video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
	opacity: 0.70;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	mix-blend-mode: overlay;
}
.text{
	position:relative;
	z-index:10;
	width:75%;
}

.text h2{
	letter-spacing:1px;
	font-size:2.5em;
	font-weight: bold;
	color:#ffffff;
	font-family:'Orbitron', verdana, serif;
	text-transform: uppercase;
}
.text h3{
	letter-spacing:1px;
	font-size:2.5em;
	font-weight: bold;
	font-family:'Orbitron', verdana, serif;
	text-transform: uppercase;
	color:#ffffff;
}
.text p{
	font-size: 1.2em;
	font-weight: lighter;
	font-family:'Orbitron', verdana, serif;
	letter-spacing:2px;
	margin-top:5px;
	color:#ffffff;
}
.text a{
	display: inline-block;
	font-size:1em;
	font-family:'orbitron', verdana;
	font-weight: bold;
	padding:15px;
	background:white;
	cursor:url('https://i.ibb.co/Tr6Yd8f/x-pngrepo-com.png'), auto;
	margin-top:50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.5s;
	color:#000000;
}
.text a:hover{
	box-shadow:0px 0px 5px #ffffff;
	cursor: pointer;
}
/*menu section*/
.menu{
	position: fixed;
	top:0;
	right:0;
	max-width:300px;
	width:100%;
	min-height:100vh;
	height:100%;
	background-color:black;
	display:flex;
	align-items: center;
	justify-content:center;
}
.menu::before{
	content:"";
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	filter: blur(0.5px);
	opacity:0.3;
	max-width:300px;
	width:100%;
	height:100%;
	background-image:url('https://i.ibb.co/pfKbKm6/fog.jpg');
	background-position:center;
	background-size: cover;
	background-repeat:no-repeat;
}
.list{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	min-width:100%;
	height:100%;
	padding:15px;
}
.box-1{
	width:100%;
	height:auto;
	text-align: center;
	margin-bottom:25px;
}
.box-2{
	text-align: center;
	width:200px;
	height:200px;
	border-radius:100px;
	opacity:0.85;
	background-image:url('https://i.ibb.co/R75HRbj/source-other-uid-01-ED72-F5-B9-E8-488-F-B891-62-DAC315-D179-1640143348014-origin-gallery-fte-sources.jpg');
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items:center;
}
h4{
	text-shadow: 0px 0px 3px #000000;
	color:white;
	text-transform: uppercase;
	font-family: 'Orbitron',verdana;
	font-size:25px;
	letter-spacing:1px;
	position: relative;
	top:8.5px;
	z-index:3;
}

h5{
	position: relative;
	color:white;
	font-family:'Orbitron',verdana;
	text-transform: uppercase;
	font-size:13px;
	letter-spacing:1px;
	z-index:3;
}
.socials{
	position: relative;
	height:auto;
	width:165px;
	margin-top:25px;
	text-align: center;

}
.bord-1{
	border-bottom:1.5px solid #ffffff;
	margin:15px 0px 0px;
	padding:12px 0px;
}
.bord-2{
	margin:0px;
	padding:12px 0px;
	border:none;
}
.bord-3{
	border-top:1.5px solid #ffffff;
	margin:0px 0px 15px;
	padding:12px 0px;
}

.twet{
	color:#ffffff;
	font-size:15px;
	padding:10px 45px;
	letter-spacing:1px;
	font-family:'orbitron', verdana, serif;
}
.twet:hover{
	text-shadow:0px 0px 7.7px #ffffff;
}

.gram{
	color:#ffffff;
	font-size:15px;
	padding:10px 30px;
	letter-spacing:1px;
	font-family:'orbitron', verdana, serif;
}
.gram:hover{
	text-shadow:0px 0px 7.7px #ffffff;
}
.git{
	color:#ffffff;
	font-size:15px;
	padding:10px 50px;
	letter-spacing:1px;
	font-family:'orbitron', verdana, serif;
}
.git:hover{
	text-shadow:0px 0px 7.7px #ffffff;
}

.title{
	position:relative;
	top:20px;
}
h6{
	position: relative;
	color:white;
	opacity:0.10;
	font-family:'aldrich',verdana;
	text-transform: uppercase;
	font-size:7px;
	z-index:3;
}

/*UNDETECTED PAGE*/
.body-2{
    background-color:red;
    min-height:100vh;
    height:100%;
    width:100%;
}



/*media querey*/
@media (orientation:portrait) and (min-width:318px) {
.box{
	padding:15px;
}
.box header{
	padding: 20px 15px;
}
.clan{
	font-size:2em;
}
.toggle{
	width:35px;
	height:35px;
	background-size:30px;
}
.toggle.active{
	background-size:30px;
}
/*tab header end*/
.text{
	width:85%;
}
.text h2{
	font-size:1.2em;
}
.text h3{
	font-size:1.2em;
}
.text p{
	font-size:0.6em;
}

.text a{
	font-size:0.6em;
	padding:10px;
	color: #ffffff;
	background-color:rgba(255, 255, 255, 0.1);
}
.text a:hover{
	text-shadow:0px 0px 5px #ffffff;
	box-shadow:0px 0px 0px #000000;
	background-color:rgba(0,0,0,0.35);
}
/*main section ends*/
h5{
	font-size:0.7em;
}

.box-2{
	width:165px;
	height:165px;
}
h4{
	font-size:1em;
}
.bord{
	padding:10px 0px;

}
.twet, .gram, .git{
	font-size:0.7em;
}

}

@media (orientation:portrait) and (min-width:600px) {
	.box{
		padding:20px;
	}
	.box header{
		padding:25px 20px;
	}
	.box.active {
		right:350px;
	}
	.clan{
		font-size:3em;
	}
	.toggle{
		background-size:45px;
		width:50px;
		height:50px;
	}
	.toggle.active{
		background-size:45px;
	}
	/*tab header end*/
	.text{
		width:80%;
		position: relative;
		top:45px;
	}
	.text h2{
		font-size:2em;
	}
	.text h3{
		font-size:2em;
	}
	.text p{
		font-size:1.2em;
	}
	.text a{
		font-size:1.2em;
		padding:15px;
	}
	/*main section ends*/
	.menu{
		max-width:350px;
	}
	.menu::before{
		max-width:350px;
	}
	h5{
		font-size:1em;
	}
	.box-2{
		width:185px;
		height:185px;
	}
	h4{
		font-size:1em;
		}
	.bord-1, .bord-2, .bord-3{
		padding:10px 0px;
	}
	.twet, .gram, .git{
		font-size:1em;
	}	
}

@media (orientation:portrait) and (min-width:1030px){
	.box{
		padding:35px;
	}
	.box header{
		padding:35px;
	}
	.box.active {
		right:500px;
	}
	.clan{
		font-size:5em;
	}
	.toggle{
		background-size:75px;
		width:75px;
		height:75px;
	}
	.toggle.active{
		background-size:75px;
	}
	/*tab header end*/
	.text{
		width:80%;
		position: relative;
		top:5px;
	}
	.text h2{
		font-size:4em;
	}
	.text h3{
		font-size:4em;
	}
	.text p{
		font-size:2em;
	}
	.text a{
		font-size:2em;
		padding:25px;
	}
	/*main section ends*/
		
	.menu{
		max-width:500px;
	}
	.menu::before{
		max-width:500px;
	}
	h5{
		font-size:1.5em;
	}
	.box-2{
		width:200px;
		height:200px;
	}
	h4{
		font-size:1.5em;
		}
	.bord-1, .bord-2, .bord-3{
		padding:15px 0px;
		border:1.5px solid #ffffff;
	}
	.twet, .gram, .git{
		font-size:1.5em;
	}
	h6{
		font-size:15px;
	}
}

@media (orientation:landscape) and (min-width:478px){
	.box{
		padding:15px;
	}
	.box header{
		padding: 20px 15px;
	}
	.clan{
		font-size:1.7em;
	}
	.toggle{
		width:30px;
		height:30px;
		background-size:25px;
	}
	.toggle.active{
		background-size:25px;
	}
	/*tab header end*/
	.text{
		width:85%;
		position: relative;
		top:35px;
	}
	.text h2{
		font-size:1em;
	}
	.text h3{
		font-size:1em;
	}
	.text p{
		font-size:0.5em;
	}
	
	.text a{
		margin-top:35px;
		font-size:0.5em;
		padding:10px;
		color: #ffffff;
		background-color:rgba(255, 255, 255, 0.1);
	}
	.text a:hover{
		text-shadow:0px 0px 5px #ffffff;
		box-shadow:0px 0px 0px #000000;
		background-color:rgba(0,0,0,0.35);
	}
	/*main section ends*/
	.box-1{
		margin-bottom:5px;
	}
	h5{
		font-size:0.5em;
	}
	.box-2{
		width:150px;
		height:150px;

	}
	h4{
		font-size:1em;
	}
	.socials{
		margin-top:0px;
	}
	.bord-1, .bord-2, .bord-3{
		margin:0;
		padding:5px 0px;
	}
	.twet, .gram, .git{
		font-size:0.5em;

	}
}

@media (orientation:landscape) and (min-width:900px){
	.box{
		padding:20px;
	}
	.box header{
		padding: 25px 20px;
	}
	.clan{
		font-size:2.2em;
	}
	.toggle{
		width:35px;
		height:35px;
		background-size:35px;
	}
	.toggle.active{
		background-size:35px;
	}
	/*tab header end*/
	.text{
		top:25px;
	}
	.text h2{
		font-size:2em;
	}
	.text h3{
		font-size:2em;
	}
	.text p{
		font-size:1em;
	}
	
	.text a{
		margin-top:45px;
		font-size:1em;
		padding:15px;
	}
}

@media (orientation:landscape) and (min-width:1200px){

}
