/*styles*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{box-sizing: border-box;margin:0;padding:0;
	text-decoration: none;list-style: none;
	scroll-behavior:smooth;}

body{background-color: #0d0d0d;width:100%;height:100%;}

.unit-2::-moz-scrollbar{display:none;scrollbar-width:none;
	scroll-behavior:smooth;}

.unit-2::-webkit-scrollbar{display:none;scrollbar-width:none;
	scroll-behavior:smooth;}

/*EXTRA CODE PAGE*/
.unit-2{
	background-color:#000000;height:100%;width:100%;}

.intro-2{
	width:100%;
	height:100%;
	min-height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	text-align:center;
	background-image:url('https://i.ibb.co/R4MHNFJ/SFBG.jpg');
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	padding:0;
	margin:0;
}
.intro-2 .screen-1{
	width:100%;
	height:100%;
	min-height:100vh;
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
}
.screen-1 .he2{
		text-align:center;
		color:#ffffff;
		text-indent:1.25em;
		font-size:2.2em;
		font-family:'orbitron',verdana,sans-serif;
		position:absolute;
		justify-self:center;
		align-self:center;
		cursor: default;
		word-spacing:3em;
		opacity:100%;
		letter-spacing:0.6em;
		animation: textout 2s ease 0.3s forwards;
}
@keyframes textout {
	from{opacity:100%;word-spacing:3em;}
	to{word-spacing:5em;opacity:0%;}
}
.screen-1 .cubix{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	position:absolute;
	cursor:default;
}
.screen-1 .boxed{
	width:100%;
	height:100%;
	min-height:100vh;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position:absolute;
	cursor:default;
	background-color:rgba(0, 0, 0, 0.5);
	animation: faded 1s ease 1.7s forwards;
	opacity:0%;
}
@keyframes faded {
	from{opacity:0%;}
	to{opacity:100%;}
}
.ryo07{
	width:220px;
	height:220px;
	border-radius:110px;
	position: relative;
	animation: popup 0.7s ease 1.8s forwards;
	opacity:0;
}
@keyframes popup {
	from{opacity:0%;}
	to{opacity:100%;}
}
.named, h6{
	color:#ffffff;
	font-family: 'orbitron', Verdana, sans-serif;
	font-size:1.3em;
	animation: glow 0.7s ease 1.7s forwards;
	opacity:0;
}
@keyframes glow {
	from{opacity:0;}
	to{opacity:1;}
}
.span-1{
	animation: leftin 0.8s ease 1.8s forwards;
	position:relative;
	left:-1em;
}
@keyframes leftin {
	from{left:-1em;}
	to{left:0;}
}
.span-2{
	animation: rightin 0.8s ease 1.8s forwards;
	position: relative;
	right:-1em;
}
@keyframes rightin {
	from{right:-1em;}
	to{right:0;}
}
.logo07{
	width:235px;
	height:235px;
	position: relative;
	animation: jetup 2.2s ease 0.3s forwards;
	opacity:100%;
	top:-0.5em;
	}
	@keyframes jetup {
		from{opacity:100%;top:-0.5em;}
		to{opacity:0%;top:-3em;}
	}
	.he2, .cubix{
		animation: vanish 1.5s ease 0.8s forwards;
		opacity:100%;
	}
	.ablok{
		width:100%;
		height:100%;
		display:flex;
		justify-content:center;
		text-align:center;
		align-items:center;
		position:absolute;
		animation: vanish 1s ease 0.1s forwards;
		opacity:100%;
	}
	@keyframes vanish {
		from{opacity:100%;}
		to{opacity:0%;}
	}
	.unexplore{
		cursor:default;
		font-size:0.5em;
		font-family:'orbitron', verdana;
		font-weight: bold;
		letter-spacing:0.5px;
		text-transform: uppercase;
		color:#ffffff;
		position: relative;
		top:30em;
	}
	.intro-2 .visionary{
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items: center;
		background-color:rgba(0, 0, 0, 0.5);
		animation: faded 1s ease 1.7s forwards;
		opacity:0%;
		color:#ffffff;
		font-family:'aldrich', verdana;
		font-size:1.3em;
		text-align: center;
	}
	/*VISIONARY*/
	.article{
		width:75vw;
		min-height:100%;
		background-color:rgba(0, 0, 0, 0.25);
		padding:25px;
	}
	.title-1{
		height:11em;
		width:100%;
		background-image:url('https://i.ibb.co/ZT4VCMb/rainblur.jpg');
		background-position:center;
		background-size:cover;
		display:flex;
		align-items:center;
		justify-content:center;
		text-align: center;
		box-shadow:inset 0px 0px 25px #000000;
		transition:1s ease; /*javascript*/
	}
	.title-1 h4{
		transition:1.5s ease;
		font-size: 2em;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 0.55);
		font-family:'orbitron', verdana, sans-serif;
		color:#ffffff;
		letter-spacing:0.5em;
		text-shadow:0px 0px 3px #ffffff;
		line-height:5.5em;
	}
	.info{
		width:100%;
		height:inherit;
		max-height:100%;
		color:#ffffff;
		font-family:'aldrich', verdana;
		font-size:1em;
		text-align: center;
		padding:15px 35px;
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	.info hr{
		width:37%;
		box-shadow:0px 0px 5px #ffffff;
		background-color:#ffffff;
		transition:1s ease;
	}
	
	.hor1, .hor2, .hor3, .hor4, .hor5{transition:1s ease;}

	.line1, .line2, .line3, .line4, .line5, .line6{
		line-height:1.2em;
		padding:2.5em 0;
		transition:1s ease;
	}
	.info .cube{
		width:80px;
		height:80px;
		text-align:center;
		margin-top:1em;
	}
	.cube .eye{
		width:inherit;
		height:inherit;
		filter: grayscale(1) brightness(1000%) drop-shadow(0px 0px 3.5px #fafafa);
		transition:1s ease-in;
	}
	/*ARTISTRY*/
	.title-2{
		height:11em;
		width:100%;
		background-image:url('https://i.ibb.co/gwH4N10/Gate.jpg');
		background-position:center;
		background-size:cover;
		display:flex;
		align-items:center;
		justify-content:center;
		text-align: center;
		box-shadow:inset 0px 0px 25px #000000;
		transition:1s ease;
	}
	.title-2 h4{
		transition:1.5s ease;
		font-size: 2em;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 0.55);
		font-family:'orbitron', verdana, sans-serif;
		color:#ffffff;
		letter-spacing:0.5em;
		text-shadow:0px 0px 3.5px #ffffff;
		line-height:5.5em;
	}
	.info hr{
		width:37%;
		box-shadow:0px 0px 5px #ffffff;
		background-color:#ffffff;
	}
	.grid{
		width:100%;
		display:flex;
		flex-direction:row;
		align-items:left;
		justify-content:center;
		flex-wrap:wrap;
		margin-top:2em;
		margin-bottom:1.2em;
	}
	.picbtn{
		outline:0;
    	border:0;
    	width: 100%;
    	height:100%;
		opacity:0;
		background-image: url('https://i.ibb.co/xCGrYTD/future.png');
   		background-position: center;
    	background-size:cover;
    	background-repeat: no-repeat;
		background-color:rgba(0, 0, 0, 0.50);
		transition:250ms;
	}
	.picbtn:hover{
		transition:500ms;cursor: pointer;opacity:1;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{
		width:200px;
		height:200px;
		margin:15px;
		transition:250ms;
	}
	.pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover,
	.pic5:hover, .pic6:hover, .pic7:hover, .pic8:hover,
	.pic9:hover, .pic10:hover, .pic11:hover, .pic12:hover{
		transition:500ms;
		transform:scale(0.95);
	}
	
	.grid .pic1{
		background-image:url('https://i.ibb.co/0QysCzx/thirdeye.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic2{
		background-image:url('https://i.ibb.co/27y4D1Q/crypto.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic3{
		background-image:url('https://i.ibb.co/PD4CGNc/nullsector.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	/*2nd row*/
	.grid .pic4{
		background-image:url('https://i.ibb.co/QQJwf0w/yoriichi.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic5{
		background-image:url('https://i.ibb.co/PC1WFMT/samurai.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic6{
		background-image:url('https://i.ibb.co/99BJmHq/kokushibo.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	/*3rd row*/
	.grid .pic7{
		background-image:url('https://i.ibb.co/92ZcV8T/frozen.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic8{
		background-image:url('https://i.ibb.co/P4X4jT0/lunar.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic9{
		background-image:url('https://i.ibb.co/fDHLrCV/traitor.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic10{
		background-image:url('https://i.ibb.co/c36mdVZ/shadow.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic11{
		background-image:url('https://i.ibb.co/m9jKnjJ/sightsamurai.jpg');
		background-position:center;
		background-size: contain;
		background-repeat:no-repeat;
	}
	.grid .pic12{
		background-image:url('https://i.ibb.co/gWcqp6W/odogaron.jpg');
		background-position:left;
		background-size: cover;
		background-repeat:no-repeat;
	}
	.cubed .gem{
		width:85px;
		height:85px;
		filter:invert(100%) brightness(100%) drop-shadow(0px 0px 3.5px #fafafa);
	}
	/*MODAL*/
	#overlay{
		position: fixed;
		z-index:95;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: rgba(0, 0, 0, 0.8);
		width:100%;
		height:100%;
		display:none;
		justify-content:center!important;
		align-items: center!important;
	}
	#overlay.active{
		display:flex!important;
		justify-content:center!important;
		align-items: center!important;
	}
	.modal{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width:400px;
		max-height:400px;
		z-index:99;
		width:100%;
		height:100%;
		margin:0;
		text-align: center;
		font-family:'aldrich',verdana,arial;
		display: flex;
		flex-direction: column;
		align-items:center;
		display:none;
	}
	.modal.active{
		display:flex;
		opacity: 0;
		animation: modal 250ms ease-in 100ms forwards;
		line-height:1.2em;
	}
	
	@keyframes modal {
		from {opacity: 0%;}
		to {opacity: 100%;}
	}
	
	.modal .modalImg {width:100%;height:100%;}
	
	.modal .modalh2 {
		font-size: 1em;
		color: #fafafa;
		font-family:'orbitron',verdana, sans-serif;
		margin-top:1.2em;
	}
/*OUTRO*/
.outro{
	width:100%;
	height:100vh;
	background-color: #000000;
	box-shadow: 0px 5px 100px 25px #000000;
	display:flex;
	align-items: center;
	justify-content: center;
	transition: 1s ease;
}
.effect{
	transition:700ms ease-in;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.end{
	text-transform: uppercase;
	font-size:1.2em;
	font-family:'aldrich', verdana, sans-serif;
	color:#ffffff;
	line-height:1.3em;
}
.sig{
	text-transform: uppercase;
	font-size:1.1em;
	font-family:'aldrich', verdana, sans-serif;
	color:#ffffff;
	text-shadow:0px 0px 2px #fafafa;
	transition:1s ease;
}
.social{transition:2s ease;margin:0.5em 0 0.5em;}

.social .net-2{margin:0 1em;}

.social .net-1, .net-2, .net-3{
	width:40px;
	height:40px;
	filter:invert(100%);
	transition: all 1s ease;
}

.net-1:hover, .net-2:hover, .net-3:hover{
	transform:scale(1.1);
	filter:drop-shadow(0px 0px 5px #000000) invert(100%);
	transition:1s ease;
}

@media (orientation:portrait) and (min-width:315px) {
/*EXTRA CODE PAGE*/	
	.unit-2::-webkit-scrollbar{overflow-x:hidden;}
		
	.screen-1 .he2{display:none;}
		
	.logo07{width:150px;height:150px;top:0em;}

	@keyframes jetup {
		from{opacity:100%;top:0em;}
		to{opacity:0%;top:-1em;}
	}
	.unexplore{animation-delay:1s;font-size:0.25em;top:25em;}
		
	.ryo07{width:130px;height:130px;}
		
	.named, h6{font-size:0.8em;}
		
	/*content*/
	.intro-2 .visionary{padding:15px 0;}
		
	.article{width:100vw;max-height:100%;background-color:rgba(0, 0, 0, 0);padding:0px 25px 25px;}
		
	.article .info{padding:0;}

	.info p{padding:2em 3.5em;}
		
	.info hr{width:25%;}

	.title-1, .title-2{height:4em;}
		
	.title-1 h4{font-size:0.8em;text-shadow:0 0 1px;}
		
	.info{font-size:0.5em;padding:15px 30px;}
		
	.cube .eye{width:40px;height:40px;}

	.title-2 h4{font-size:0.8em;text-shadow:0 0 1px;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:105px;height:105px;}

	.modal{max-width:185px;max-height:185px;}
	
	.modal .modalh2 {font-size: 0.8em;}

	.cubed .gem{width:40px; height:40px;}
	
	/*outro*/
	.end{font-size:0.7em;padding:0 35px;}
	
	.social .net-2{margin:0 0.5em;}

	.sig{font-size:0.7em;text-shadow:0px 0px 1px #fafafa;}
	
	.social .net-1, .net-2, .net-3{width:25px;height:25px;}
	
	.net-1:hover, .net-2:hover, .net-3:hover{transition:none; transform:scale(1);}
}

@media (orientation:portrait) and (min-width:370px) {
	.logo07{width:175px; height:175px;}
	.unexplore{font-size:0.65em;}
	/*2nd-intro page*/
	.ryo07{width:160px;height:160px;}
		
	.named, h6{font-size:1em;}
		
	.info p{padding:2em 3em; font-size:1.2em;}

	.title-1, .title-2{height:5em;}
		
	.title-1 h4{font-size:1.1em;line-height:4.5em;}

	.title-2 h4{font-size:1.1em;line-height:4.5em;}

	.cube .eye{width:45px;height:45px;}

	.cubed .gem{width:45px;height:45px;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:115px;height:115px;}

	.modal{max-width:200px;max-height:200px;}
	
	.modal .modalh2 {font-size: 0.8em;}

	/*outro*/
	.end{font-size:0.9em;}

	.sig{font-size:0.9em;}
	
	.social .net-1, .net-2, .net-3{width:35px;height:35px;}
}

@media (orientation:portrait) and (min-width:400px) {
	.logo07{width:200px;height:200px;}
	.unexplore{font-size:0.70em;}
	/*2nd page*/
	.ryo07{width:185px;height:185px;}

	.named, h6{font-size:1.2em;}

	.title-1, .title-2{height:5.5em;}
		
	.title-1 h4{font-size:1.3em;line-height:4.6em;}

	.title-2 h4{font-size:1.3em;line-height:4.6em;}

	.info p{padding:2em; font-size:1.4em;}

	.cube .eye{width:60px;height:60px;}

	.cubed .gem{width:60px;height:60px;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:135px;height:135px;}

	.modal{max-width:235px;max-height:235px;}
	
	.modal .modalh2 {font-size: 0.9em;}

	/*outro*/
	.end{font-size:1em;}

	.sig{font-size:1em;}
	
	.social .net-1, .net-2, .net-3{width:45px;height:45px;}
}

/*IPAD*/
@media (orientation:portrait) and (min-width:600px){
	.logo07{width:315px;height:315px;}
	.unexplore{font-size:1em;top:27em;}
	/*2nd page*/
	.ryo07{width:250px;height:250px;border-radius:500px;}

	.named, h6{font-size:1.6em;}

	/*content*/
	.intro-2 .visionary{padding:30px 0;}

	.info p{padding:2em 1.5em;}

	.info hr{width:35%;}

	.article{padding:50px 50px 75px;}

	.title-1, .title-2{height:7.5em;}
		
	.title-1 h4{font-size:2em; line-height:4em;}
		
	.info{font-size:0.8em;}
		
	.cube .eye{width:85px;height:85px;}

	.title-2 h4{font-size:2em;line-height:4em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:185px;height:185px;}

	.modal{max-width:375px;max-height:375px;}
	
	.modal .modalh2 {font-size: 1.3em;}

	.cubed .gem{width:85px; height:85px;}

	.info .cubed{margin-top:1.7em;}

	/*outro*/
	.end{font-size:1.5em;}

	.sig{font-size:1.5em;}
	
	.social .net-1, .net-2, .net-3{width:50px;height:50px;}

}
	
@media (orientation:portrait) and (min-width:1020px){
.logo07{width:400px;height:400px;}
	.unexplore{font-size:1.5em; top:23em;}
/*2nd page*/
	.ryo07{width:355px;height:355px;border-radius:700px;}

	.named, h6{font-size:2.2em;}

	/*content*/
	.info p{padding:2em 1.5em;}

	.article{padding:50px 50px 100px;}

	.title-1, .title-2{height:10em;}
		
	.title-1 h4{font-size:3em; line-height:3.5em;}
		
	.info{font-size:1.2em;}

	.info hr{width:45%;}
		
	.cube .eye{width:115px;height:115px;}

	.title-2 h4{font-size:3em;line-height:3.5em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:275px;height:275px;}

	.modal{max-width:500px;max-height:500px;}
	
	.modal .modalh2 {font-size: 1.7em;}

	.cubed .gem{width:115px; height:115px;}

	/*outro*/
	.end{font-size:2em;}

	.sig{font-size:2em;}
	
	.social .net-1, .net-2, .net-3{width:75px;height:75px;}
}

/*LANDSCAPE MEDIA QUEREY*/
@media (orientation:landscape) and (min-width:480px){
/*EXTRA CODE PAGE*/	
	.unit-2::-webkit-scrollbar{overflow-x:hidden;}
		
	.screen-1 .he2{display:none;}
		
	.logo07{width:135px;height:135px;top:0em;}

	@keyframes jetup {
		from{opacity:100%;top:0em;}
		to{opacity:0%;top:-1em;}
	}
	.unexplore{animation-delay:1s;font-size:8px;top:15em;}
		
	.ryo07{width:130px;height:130px;}
		
	.named, h6{font-size:0.8em;}
	
	/*content*/
	
	.intro-2 .visionary{padding:15px 0;}
		
	.article{width:85vw;max-height:100%;background-color:rgba(0, 0, 0, 0);padding:0px 25px 25px;}
		
	.article .info{padding:0;}

	.info p{padding:2em 3.5em;}
		
	.info hr{width:25%;}

	.title-1, .title-2{height:5em;}
		
	.title-1 h4{font-size:1.1em;text-shadow:0 0 1px; line-height:4.5em;}
		
	.info{font-size:0.6em;padding:15px 30px;}
		
	.cube .eye{width:45px;height:45px;}

	.title-2 h4{font-size:1.1em;text-shadow:0 0 1px; line-height:4.5em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:105px;height:105px;}

	.modal{max-width:185px;max-height:185px;}
	
	.modal .modalh2 {font-size: 0.8em;}

	.cubed .gem{width:50px; height:50px;}
	
	/*OUTRO*/
	.end{font-size:0.8em;padding:0 75px;}
	
	.social .net-2{margin:0 0.5em;}

	.sig{font-size:0.8em;text-shadow:0px 0px 1px #fafafa;}
	
	.social .net-1, .net-2, .net-3{width:35px;height:35px;}
	
	.net-1:hover, .net-2:hover, .net-3:hover{transition:none; transform:scale(1);}
}	

@media (orientation:landscape) and (min-width:650px){
	.logo07{width:155px;height:155px;}
	.unexplore{top:18em;}
	/*EXTRA CODE PAGE*/	
	.ryo07{width:155px;height:155px;}
		
	.named, h6{font-size:0.9em;}

	/*content*/	
	.article{width:90vw; padding:0px 25px 25px;}
		
	.info hr{width:35%;}

	.title-1, .title-2{height:6em;}
		
	.title-1 h4{font-size:1.5em; line-height:4em;}
		
	.info{font-size:0.8em;padding:15px 30px;}
		
	.cube .eye{width:60px;height:60px;}

	.title-2 h4{font-size:1.5em; line-height:4em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:135px;height:135px;}

	.modal{max-width:195px;max-height:195px;}
	
	.modal .modalh2 {font-size:0.8em;}

	.cubed .gem{width:60px; height:60px;}
	
	/*OUTRO*/
	.end{font-size:1em;padding:0 75px;}
	
	.social .net-2{margin:0 0.5em;}

	.sig{font-size:1em;}
	
	.social .net-1, .net-2, .net-3{width:40px;height:40px;}
}

@media (orientation:landscape) and (min-width:700px){
	.logo07{width:175px;height:175px;}
	.unexplore{top:20em;}
	/*EXTRA CODE PAGE*/	
	.ryo07{width:165px;height:165px;}
		
	.named, h6{font-size:1em;}
	
	/*content*/	
	.title-1, .title-2{height:7em;}
		
	.title-1 h4{font-size:1.7em;}

	.title-2 h4{font-size:1.7em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:135px;height:135px;}

	.modal{max-width:225px;max-height:225px;}

	/*OUTRO*/
	.end{padding:0 100px;}

}
/*IPAD*/
@media (orientation:landscape) and (min-width:900px){
	.logo07{width:250px;height:250px;}
	.unexplore{font-size:0.85em;top:23em;animation-delay:1s;}
/*EXTRA CODE PAGE*/	
	.unit-2::-webkit-scrollbar{overflow-x:hidden;}
		
	.screen-1 .he2{display:flex;}
		
	.logo07{width:250px;height:250px;}

	.unexplore{animation-delay:1s;font-size:0.85em;top:23em;}
		
	.ryo07{width:235px;height:235px;border-radius:275px;}
		
	.named, h6{font-size:1.5em;}
	
	/*content*/
	.intro-2 .visionary{padding:5em 0 0;}
		
	.article{width:85vw;padding:0px 25px 5.5em;}
		
	.article .info{padding:0;}

	.info p{padding:2.5em 3.5em 1em;}
		
	.info hr{width:40%;margin-top:1.3em;}

	.title-1, .title-2{height:9em;}
		
	.title-1 h4{font-size:2.5em;}
		
	.info{font-size:1.1em;padding:15px 30px;}
		
	.cube .eye{width:85px;height:85px;}

	.title-2 h4{font-size:2.2em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:225px;height:225px;}

	.modal{max-width:450px;max-height:450px;}
	
	.modal .modalh2 {font-size:1.5em;}

	.cubed .gem{width:85px; height:85px;}

	/*outro*/
	.end{font-size:1.6em;}

	.sig{font-size:1.6em;letter-spacing:2px;}
	
	.social .net-1, .net-2, .net-3{width:55px;height:55px;}	

	.social{margin:1em 0}

	.social .net-2{margin:0 1.5em;}
}
@media (orientation:landscape) and (min-width:1100px){
	.logo07{width:275px;height:275px;}
	.unexplore{font-size:1em; top:20em;}
	/*EXTRA CODE PAGE*/	
	.screen-1 .he2{font-size:2.5em;}
		
	.ryo07{width:275px;height:275px;border-radius:275px;}
		
	.named, h6{font-size:1.7em;}

	/*content*/
	.article{width:85vw;padding:0px 25px 5.5em;}
		
	.info hr{width:40%;}

	.title-1, .title-2{height:10em;}
		
	.title-1 h4{font-size:2.6em;}
		
	.info{font-size:1.3em;}
		
	.cube .eye{width:95px;height:95px;}

	.title-2 h4{font-size:2.6em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:245px;height: 245px;}

	.modal{max-width:465px;max-height:465px;}
	
	.modal .modalh2 {font-size:1.55em;}

	.cubed .gem{width:95px; height:95px;}
	
	/*outro*/
	.end{font-size:1.8em;}

	.sig{font-size:1.8em;}
	
	.social .net-1, .net-2, .net-3{width:60px;height:60px;}	
}
@media (orientation:landscape) and (min-width:1200px){/*OTHER DESKTOPS & MY SCREEN*/
	.logo07{width:235px;height:235px;}
	.unexplore{font-size:0.7em; top:27em;}
	/*EXTRA CODE PAGE*/	
	.screen-1 .he2{font-size:2.3em;}
			
	.ryo07{width:235px;height:235px;border-radius:440px;}
		
	.named, h6{font-size:1.5em;}

	/*content*/
	.article{width:75vw;padding:0px 25px 5.5em;}
			
	.info hr{width:35%;}

	.title-1, .title-2{height:10em;}
		
	.title-1 h4{font-size:2.5em;}
		
	.info{font-size:1.2em;}

	.info p{padding:2em 6em;}
		
	.cube .eye{width:90px;height:90px;}

	.info hr{ margin-top:0.5em;}

	.title-2 h4{font-size:2.5em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:225px;height:225px;}

	.modal{max-width:435px;max-height:435px;}

	.modal .modalh2 {font-size:1.2em;}

	.cubed .gem{width:90px; height:90px;}

	/*outro*/
	.end{font-size:1.4em; padding:0 10em;}

	.sig{font-size:1.3em;}
	
	.social .net-1, .net-2, .net-3{width:45px;height:45px;}	
}

@media (orientation:landscape) and (min-width:1300px){/*DESKTOP RESET?*/
	.logo07{width:250px;height:250px;}
	/*EXTRA CODE PAGE*/	
	.screen-1 .he2{font-size:2.5em;}
			
	.ryo07{width:250px;height:250px;border-radius:500px;}

	/*content*/
	.info{font-size:1.3em;}

	.info p{padding:2em 5em;}

	/*outro*/
	.end{padding:0 12em;}

}
@media (orientation:landscape) and (min-width:1900px){/*4K DESKTOP WIDE SCREEN*/
	.logo07{width:400px;height:400px;}
	.unexplore{font-size:1.5em; top:20em;}
	/*EXTRA CODE PAGE*/	
	.screen-1 .he2{font-size:4em;}
		
	.ryo07{width:400px;height:400px;border-radius:800px;}
		
	.named, h6{font-size:2.7em;}

	/*content*/
	.article{padding:0px 25px 8em;}

	.title-1, .title-2{height:16em;}
		
	.title-1 h4{font-size:4em;}
		
	.info{font-size:2em;}
	
	.info hr{margin-top:0em;}

	.info .cube{margin-top:0; width:150px; height:150px;}

	.cube .eye{width:150px;height:150px;}

	.title-2 h4{font-size:4em;}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
	.pic9, .pic10, .pic11, .pic12{width:385px;height: 385px;}

	.modal{max-width:675px;max-height:675px;}
	
	.modal .modalh2 {font-size:2.2em;}

	.info .cubed{width:150px; height:150px;}

	.cubed .gem{width:150px; height:150px;}

	/*outro*/
	.end{font-size:2.5em; padding:0 8em;}

	.sig{font-size:2.4em;}
	
	.social .net-1, .net-2, .net-3{width:85px;height:85px;}	
}
